body{
  font-family:Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color:seashell;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
  border-bottom:1px solid seashell;
  height:69px;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  background-color: black;
  margin-top: 0px;
  justify-content: space-between!important;
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
}
header img {
  height: 50px;
  padding-left: 10px;
}
nav span {
      display: inline-block;
      padding: 20px 10px;
  }
}
nav {
    text-align: right;
    flex-grow: 1;
}
a:hover {
  color:seashell;
}
a:link {
  color:seashell;
}
a:visited {
  color:seashell;
}
#our-mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  padding-top:69px;

  align-items: center;
  text-align: center;
  margin:0 auto;

}
#our-mission .content {
  background-color: black;
  width: 100%;
  margin:0 auto;
}
#store {
    height: 700px;
    width: 1000px;
    margin:0 auto;
    padding-top: 70px;
    text-align: center;
}
.item img {
    height: 200px;
    margin: 10px;
    display: block;
}
.item span {
  font-weight: bold;
  display: block;
  padding: 5px;
  text-align: center;
}
#locations {
    width: 1200px;
  height:500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  opacity: 1;
  text-align: center;
  margin:0 auto;
  padding-top: 70px;

}

.location {
  width: 300px;
  background-color: black;
  margin:15px 20px;
}
#contact-us {
  height:200px;
  text-align: center;
  margin: 0 auto;
}
footer {
  text-align: left;
  padding-left: 20px;
}
